deb [arch=amd64] http://jp.archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} main restricted
deb [arch=amd64] http://jp.archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} universe
deb [arch=amd64] http://jp.archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} multiverse
deb [arch=amd64] http://jp.archive.ubuntu.com/ubuntu {{ ansible_distribution_release }}-updates main restricted
deb [arch=amd64] http://jp.archive.ubuntu.com/ubuntu {{ ansible_distribution_release }}-updates universe
deb [arch=amd64] http://jp.archive.ubuntu.com/ubuntu {{ ansible_distribution_release }}-updates multiverse
deb [arch=amd64] http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security main
deb [arch=amd64] http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security universe
deb [arch=amd64] http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security multiverse
